django==4.2.5 
djangorestframework==3.14.0
psycopg2==2.9.9
Pillow==10.0.1
whitenoise
dj_database_url
factory_boy
faker
requests
channels_redis
coverage
pytest
daphne
redis
cachetools
spacy
langid
googletrans==4.0.0-rc1
django-allauth
python-dotenv
faker
django-storages
boto3